<h1>Edit pet:</h1>


<%= form_with model: @pet do |form| %>

  <%= image_tag @pet.image, style: "width: 100px; height: 100px;" %>
    <br>
    <br>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>
  <div>
    <%= form.label :image %>
    <%= form.text_field :image %>

    <hr>

  </div>
  <div>
    <%= form.submit %>
  </div>
<% end%>
