<h1>Edit pet:</h1>

<%= form_with model: @pet do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>
  <div>
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end%>
