<h1>Pet</h1>

<p><strong>Name:</strong> <%= @pet.name %><p>
<p><strong>Breed:</strong> <%= @pet.breed %><p>
<p>Image: <%= pet.image %></p>


<a href="/pets/<%= @pet.id %>/edit">Edit pet</a>
<a href="/pets/<%= @pet.id %>" data-turbo-method="delete">Remove pet</a>
